<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="img/pizarra.png" type="image/x-icon">
    <title>App</title>
    <link rel="stylesheet" href="../css/site.css">
</head>
<body>
    <form class="formulario" >
        <div class="espacios">
            <label  class="lbl-persona">Nombre</label>
            <input class="input1"  type="text" name="" id="">
        </div>

        <div>
             <label class="lbl-persona">Apellido</label>
            <input class="input1" type="text" name="" id="">
        </div>
        <div class="espacios">
            <label class="lbl-persona">Sexo</label>
            <input class="input1" type="text" name="" id="">
        </div>

        <div class="espacios">
            <label class="lbl-persona">Direccion</label>
            <input class="input1" type="text" name="" id="">
        </div>

        <div class="espacios">
            <label class="lbl-persona">Telefono</label>
            <input class="input1" type="text" name="" id="">
        </div>

        <div class="espacios">
            <label class="lbl-persona">Email</label>
            <input class="input1" type="text" name="" id="">
        </div>

        <div class="boto">
              <a class="btn-Registro espacio1"> <button>Guardar</button></a>
        </div>
    </form>

    
    <div class="espacio">
         <a class="btn-regresar" asp-action="Index">
            <button>Regresar</button>
        </a>
    </div>
</body>
</html>