<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/pizarra.png" type="image/x-icon">
    <title>App</title>
    <link rel="stylesheet" href="../css/site.css">
</head>
<body>
    <header class="cuerpo" >
            <div class="logo">
                <a asp-controller="Home" asp-action="Index"> <img  src="../img/maestro.png"></a>
               
            </div>
        
    </header>
    <form class="formu">
        <div class="codigo">
            <label class="lbl">Codigo Materia</label>
            <input type="text" name="" id="">
        </div>

        <div class="nombre">
            <label class="lbl">Nombre</label>
            <input type="text" name="" id="">
        </div>

        <div class="creditos">
            <label class="lbl">Creditos</label>
            <input type="text" name="" id="">
        </div>

        <div class="boto">
              <a class="btn-Registro espacio1"> <button>Guardar</button></a>
        </div>
    </form>

    <div class="espacio">
         <a class="btn-regresar" asp-controller="Home" asp-action="Index">
            <button>Regresar</button>
        </a>
    </div>
</body>
</html>