<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/pizarra.png" type="image/x-icon">
    <title>App</title>
    <link rel="stylesheet" href="../css/site.css">
</head>
<body>
    <header class="cuerpo">
            <div class="logo">
                <img src="../img/maestro.png" alt="">
            </div>
        <nav>
            
            <ul class="nav">
                <li><a asp-controller="Materia" asp-action="Index">Materia</a></li>
                <li><a>Persona</a></li>
                <li><a>Carrera</a></li>
            </ul>
        </nav>
        <a class="btn-Salir">
            <button>Salir</button>
        </a>
    </header>
</body>
</html>